@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2d3440;
  background-color: #feafc3;
}

.basic-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1170px;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0.1px;
  white-space: nowrap;
  color: transparent;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.button {
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  padding: 12px 32px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* start header */

.header-logo {
  margin-right: 16px;
}

.header-images {
  display: block;
  text-align: center;
}

.navigation-menu-text {
  padding-right: 9px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navigation-list:not(:last-child) {
  margin-right: 164px;
}

.navigation-user {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.navigation {
  display: flex;
  margin: 24px 0;
}

.navigation-icon {
  position: absolute;
  left: -8px;
}

.navigation-item-info {
  display: flex;
  justify-content: center;
}

.navigation-item-info:not(:last-child) {
  margin-right: 16px;
}

.navigation-item-search {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  width: 32px;
  height: 32px;
}

.navigation-item-input {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  width: 88px;
  height: 32px;
}

.navigation-item-basket {
  width: 115px;
  height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.navigation-text {
  padding-left: 13px;
}

/*
.navigation-link-login .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}
*/

.navigation-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.navigation-item {
  padding: 8px 16px;
}


.sub-menu {
  display: none;
}

.subnav-link {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  vertical-align: top;
}

.subnav-link-bold {
  font-weight: 700;
}

.navigation-link-bold {
  font-size: 16px;
  font-weight: 700;
}

/* end header */

/******* start main ********/


/* start slider */

.slide-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.slide-header {
  display: block;
  padding-top: 136px;
  padding-left: 70px;
}

.slide-item {
  display: flex;
}

.slide-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  width: 470px;
  margin: 0;
  margin-bottom: 24px;
}

.slide-text-pink {
  max-width: 429px;
}

.slide-mini-image {
  display: block;
  margin-top: 204px;
  margin-left: 73px;
}

.slide-text {
  display: block;
  margin: 0;
  font-size: 18px;
  margin-bottom: 48px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}


.slider-container-button {
  display: flex;
}

.slide-social {
  display: flex;
  flex-direction: row;
}

.slider-toggle {
  display: block;
  height: 12px;
}

.slide-social-link:not(:last-child) {
  margin-right: 16px;
}

.slide-social-button {
  text-decoration: none;
  color: #fcfcfc;
}

.slide-button-order {
  background-color: #fcfcfc;
}

/* end slider */

/* start banner */
.banner {
  margin-bottom: 81px;
}

.banner-header {
  width: 434px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  padding-bottom: 55px;
  margin: auto;
  text-align: center;
}

.banner-container-text {
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  justify-content: center;
}



.banner-list {
  display: flex;
  justify-content: space-between;
}

.banner-item {
  display: flex;
  background-color: #ff7799;
  border-radius: 16px;
}

.banner-title {
  display: block;
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.banner-image {
  display: block;
  align-self: flex-end;
}

.banner-text {
  display: block;
  width: 304px;
  margin: 0;
  margin-bottom: 40px;
  line-height: 22px;
}

.banner-button {
  width: 112px;
}

/* end banner */

/* start assortment */
.assortment-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.assortment-header {
  display: block;
  width: 527px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: auto;
  text-align: center;
  margin-bottom: 107px;
}

.assortment-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
}

.assortment-item {
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.assortment-content {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.assortment-image {
  display: block;
  margin-bottom: 16px;
  border-radius: 50%;
  margin-top: -51px;
  margin-left: 51px;
}

.assortment-name {
  margin: 0;
  margin-bottom: 8px;
}


.assorment-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #2d3440;
}

.assortment-text {
  display: block;
  line-height: 22px;
  color: #565c66;
  margin: 0;
  margin-bottom: 20px;
}

.assortment-wrraper {
  display: flex;
  padding-bottom: 24px;
}

.assortment-price {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.assortment-button {
  text-decoration: none;
}

.assortment-icon {
  position: absolute;
  padding: 7px;
  margin-left: 73px;
  background-color: #ff2f64;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  fill: #fcfcfc;
}

/* end assortment */

.advantages {
  background-image: url("../images/wafer.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 24px;
  background-size: cover;
  margin-bottom: 80px;
}

.advantages-container {
  background-color: #ffffff;
  border-radius: 16px;
}

.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: auto;
  padding-top: 56px;
  text-align: center;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 56px 40px;
}

.advantages-item {
  width: 505px;
  line-height: 22px;
}

.advantages-text {
  position: relative;
  margin-left: 64px;
}

.advantages-image-production::before {
  content: " ";
  background-image: url("../images/ice-production.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 100%;
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  right: 458px;
}

.advantages-image-farm::before {
  content: " ";
  background-image: url("../images/ice-farm.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 100%;
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  right: 458px;
}

.advantages-image-ingredients::before {
  content: " ";
  background-image: url("../images/ice-ingredients.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 100%;
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  right: 458px;
}

.advantages-image-delivery::before {
  content: " ";
  background-image: url("../images/ice-delivery.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 100%;
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  right: 458px;
}

/* end advantags */

/* last-news */
.last-news {
  background-image: url("../images/serving.jpg");
  background-size: 655px;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-left: 32px;
  margin-right: 36px;
  width: 570px;
  height: 224px;
  background-position-x: -18px;
  background-position-y: -108px;
  background-color: #fcfcfc;
}

.blog-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.last-news-note {
  line-height: 20px;
  padding-top: 33px;
}

.last-news-title {
  display: block;
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

/* end last-news */

/*  start subscription */


.subscription {
  background-image: url("../images/mail.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.subscription-menu {
  background-color: #ffffff;
  background-size: cover;
  border-radius: 16px;
  margin: 6px;
}

.subscription-text {
  width: 506px;
  padding: 26px;
  line-height: 22px;
  margin: 0;
  padding-bottom: 44px;
}

.email-field {
  width: 332px;
  height: 48px;
  margin-left: 26px;
  margin-bottom: 28px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.email-field::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}


/*  end subscription */

/* start contacts */

.contacts {
  display: flex;
  background-image: url("../images/home-delivery.jpg");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position-y: -135px;
  border-radius: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.contacts-wrapper {
  margin-left: 100px;
  margin-top: 167px;
}

.contacts-title {
  display: block;
  margin: 0;
  width: 356px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 24px;
}

.contacts-subtitle {
  display: block;
  width: 371px;
  line-height: 22px;
  padding-bottom: 163px;
  margin-right: 135px;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 500px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.contacts-address {
  display: block;
  width: 380px;
  margin: 0;
  padding: 40px 40px;
  padding-bottom: 32px;
  line-height: 22px;
}

.appointment-form {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 40px;
}

.appointment-info {
  height: 48px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.appointment-date {
  width: 117px;
}

.appointment-phone {
  width: 287px;
}

.appointment-address {
  width: 420px;
}

.appointment-info::placeholder {
  padding-left: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

.appointment-form .info {
  display: none;
}

.appointment-form-date {
  position: relative;
}

.appointment-form-date::after {
  content: " ";
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 46px;
  top: 3px;
}

.form-label {
  margin-bottom: 8px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field-group label,
.field-group input {
  display: block;
}

.appointment-form-address {
  position: relative;
  grid-column: 1/-1;
  margin-top: 20px;
}

.appointment-button {
  grid-column: 1/-1;
  justify-self: center;
}

.appointment-form-address::after {
  content: " ";
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 58px;
  top: 3px;
}

.appointment-button {
  background-color: #ff2f64;
  margin-top: 32px;
  color: #fcfcfc;
}

/* end contacts */

/* start information-shop */


.information-shop {
  background-image: url("../images/address-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;
  background-position-y: -80px;
}

.information-wrapper {
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 343px;
  height: 364px;
  padding-left: 40px;
}

.information-title {
  display: block;
  width: 179px;
  line-height: 22px;
  margin: 0;
  padding-top: 40px;
}


.information-adress-text {
  width: 263px;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  margin: 0;
  margin-top: 12px
}

.information-phone {
  width: 203px;
  line-height: 22px;
  font-style: normal;
  margin: 0;
  margin-top: 24px;
}

.information-number {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #2d3440;
  font-style: normal;
  margin-top: 12px;
}

.information-time {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

/* end information-shop */

/* start footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 48px 0;
}

.footer-social-list {
  display: flex;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 365px;
}

.social-button {
  text-decoration: none;
  color: #fcfcfc;
}

.footer-social-link:not(:last-child) {
  margin-right: 16px;
}

.footer-nav-item {
  font-size: 14px;
  line-height: 20px;
  width: 50%;
  font-weight: 400;
}

.footer-nav-link {
  text-decoration: none;
  color: #2d3440;
}

.footer-nav-link_heart {
  font-weight: 700;
}

.footer-copyright {
  width: 200px;
}

.footer-copyright-text {
  width: 197px;
  font-size: 12px;
  line-height: 16px;
}

/*********** start catalog.html ************/

/* start breadcrums */

.breadcrums-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.breadcrums-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-right: 28px;
}

.breadcrums-link {
  text-decoration: none;
  color: #2d3440;
}

.catalog-products {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 95px;
}

.catalog-page-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

/* end breadcrums */

/* Форма каталога */

.catalog-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 95px;
}

.sort {
  margin: 0;
  padding: 0;
  width: 196px;
}

.catalog-range {
  margin: 0;
  padding: 0;
  width: 196px;
}

.fatness {
  margin: 0;
  padding: 0;
  width: 383px;
}

.filler {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 604px;
}

.catalog-button {
  width: 185px;
}

.pagination-container {
  display: flex;
  padding: 40px 0;
  margin-top: 16px;
}

.pagination-show-more {
  display: block;
  margin: auto;
  font-weight: 700;
  width: 179px;
  margin-right: 335px;
}

/* start pagination */

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 168px;
}

.pagination-item {
  line-height: 20px;
}

.pagination-item:not(:last-child) {
  margin-right: 13px;
}

.pagination-current {
  display: block;
  background-color: #fcfcfc;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  text-align: center;
}

.pagination-link {
  text-decoration: none;
  color: #2d3440;
}

/* end pagination */
