@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2d3440;
  background-color: #feafc3;
}

.basic-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1170px;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0.1px;
  white-space: nowrap;
  color: transparent;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  padding: 12px 32px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  background-clip: padding-box;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* start header */


.navigation-arrow {
  fill: #2d3440;
}

.navigation-icon {
  fill: #2d3440;
}

.navigation {
  display: flex;
  margin: 24px 0 23px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-logo {
  width: 137px;
  display: block;
  margin-right: 16px;
  line-height: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navigation-link {
  display: flex;
  align-items: center;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  padding: 8px 16px;
}

.navigation-link-catalog {
  display: flex;
  gap: 10px;
}

.navigation-list-right {
  width: 431px;
}

.navigation-link-phone {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #2d3440;
}

.navigation-link-active {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding: 6px 16px
}

.navigation-link.search {
  padding: 8px;
}

.navigation-text {
  font-size: 14px;
  line-height: 20px;
  padding-left: 7px;
}

.sub-menu {
  top: 80px;
  display: none;
}

.subnav-item-bold {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.subnav-item-bold::after {
  position: absolute;
  border: 1px solid #b9b9b9;
  content: "";
  width: 103px;
  right: 15px;
}


.subnav-link {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.subnav-link:hover {
  background-color: #ffcbd8;
  color: #2d3440;
}

.subnav-link:active {
  background-color: #ff7799;
  color: #2d3440;
}

.subnav-link-current {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.navigation-link:hover:not(.navigation-link-open) {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:focus-visible {
  outline: 2px solid #2d3440;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 30px;
}

.navigation-icon:hover,
.navigation-icon:active,
.navigation-icon:focus {
  fill: #fcfcfc;
}

.navigation-link-open {
  background-color: #ff4a78;
  color: #fcfcfc;
  border-radius: 30px;
}

.navigation-link-open:hover {
  opacity: 60%;
}

.navigation-link-open .navigation-arrow {
  transform: rotate(180deg);
  fill: #fcfcfc;
}

.navigation-link-open:focus-visible {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
  background-color: #ff4a78;
  border-radius: 30px;
  transition: outline 0.3s ease;
}

.navigation-link-open:active {
  background-color: #ff4a78;
  opacity: 30%;
  color: #fcfcfc;
}


/* end header */

/* popover */

.navigation-item-info {
  position: relative;
}

.popover {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
  border-radius: 4px;
}

.popover-cart {
  width: 441px;
  padding: 48px;
  color: #2d3440;
  min-height: 156px;
  right: 0;
  top: 40px;
  display: none;
}

.popover-search {
  width: 356px;
  min-height: 96px;
  padding: 24px 16px;
  right: 0;
  top: 40px;
  display: none;
}

.popover-field {
  width: 324px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.popover-login {
  min-height: 350px;
  padding: 48px;
  right: 0;
  top: 40px;
  display: none;
}

.popover-input {
  width: 324px;
  height: 48px;
  line-height: 20px;
  padding: 14px 16px;
  border: 1px solid #b9b9b9;
}

.popover-container-link {
  display: flex;
}

.popover-link {
  font-size: 16px;
  line-height: 20px;
  margin-left: 23px;
  color: #2d3440;
  text-underline-offset: 4px;
}

.popover-link:hover {
  text-decoration: none;
}

.popover-link:active {
  text-decoration: none;
  opacity: 30%;
}

.popover-field::placeholder {
  color: #2d3440;
}

.popover-input::placeholder {
  color: #b9b9b9;
}

.popover-content {
  height: 100%;
}

.popover-title {
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  align-items: center;
}

.cart-item:not(:last-child) {
  margin-bottom: 24px;
}

.cart-item:last-child {
  margin-bottom: 64px;
}

.cart-wrapper:not(.cart-item-price) {
  margin-right: 56px;
}

.cart-item-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2d3440;
  margin: 0;
}

.cart-item-kg {
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
  margin: 0;
}

.cart-item-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2d3440;
  margin-right: 33px;
}

.cart-total {
  margin-left: 32px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2d3440;
}

.popover-delete-button::before,
.popover-delete-button::after {
  position: absolute;
  width: 16px;
  height: 1px;
  right: 46px;
  background-color: #000000;
  content: "";
}

.popover-delete-button {
  background: none;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
}

.popover-delete-button::before {
  transform: rotate(45deg);
}

.popover-delete-button::after {
  transform: rotate(-45deg);
}

.popover-delete-button:hover {
  opacity: 30%;
}

/******* start main ********/


/* start slider */

.slide-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.slide-header {
  padding-left: 70px;
}

.slide-item {
  display: flex;
  align-items: center;
}

.slide-item:not(.slide-item-current) {
  display: none;
}


.slide-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  width: 470px;
  margin: 0;
  margin-bottom: 22px;
}

.slide-text {
  display: block;
  margin: 0;
  font-size: 18px;
  margin-bottom: 46px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2px;
}

.slider-container-button {
  display: flex;
  align-items: flex-end;
}

.slide-container-image {
  position: relative;
  left: 5px;
  top: 12px;
}


.slide-wrapper-image {
  position: absolute;
  background-color: rgba(255, 203, 216, 1);
  width: 327px;
  height: 312px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.slide-mini-image {
  margin-left: 75px;
  position: relative;
  top: 16px;
  left: 4px;
}

.slide-wrapper-mini-image {
  position: absolute;
  background-color: #ffcbd8;
  opacity: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: -23%;
  transform: translateY(-50%);
  z-index: -1;
}


.slide-social {
  display: flex;
  flex-direction: row;
  top: 3px;
  left: 2px;
  position: relative;
}

.slider-toggle {
  border: 0;
  border-radius: 100px;
  width: 12px;
  height: 12px;
  top: 3px;
  /* display: flex; */
  position: relative;
}

.slider-toggle:not(:last-child) {
  margin-right: 8px;
}

.slider-toggle-current {
  background-color: #fcfcfc;
}

.slider-toggle-next {
  opacity: 30%;
}

.slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  border-radius: 26px;
  border: 2px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.slide-button-left {
  left: -18px;
}

.slide-button-right {
  right: -18px;
}


.slide-icone {
  position: absolute;
  content: "";
  fill: #fcfcfc;
  left: 10px;
  top: 14px;
}

.slide-icone-right {
  transform: rotate(-90deg);
  left: 12px;
}

.slide-icone-left {
  transform: rotate(90deg);
}


.slide-button:hover .slide-icone,
.slide-button:active .slide-icone,
.slide-button:focus .slide-icone {
  fill: #2d3440;
}

.slide-button:hover {
  background-color: #fcfcfc;
}

.slide-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.slide-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-toggle:hover {
  outline: 1px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
}


.slider-toggle:focus-visible {
  outline: 1px solid #2d3440;
}

.slider-toggle:active {
  opacity: 50%;
}


.slide-social-link:not(:last-child) {
  margin-right: 14px;
}

.slide-button-order {
  background-color: #fcfcfc;
  top: 13px;
  left: -4px;
  position: relative;
}

.social-button {
  display: block;
  text-decoration: none;
  line-height: 0;
  border-radius: 50%;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.social-button:hover {
  background-color: #2d3440;
  border: 2px solid rgba(252, 252, 252, 0.5);
  background-clip: padding-box;
}

.social-button:focus-visible {
  background-color: #2d3440;
  border: none;
  outline: 2px solid #2d3440;
}

.social-button:active {
  background-color: #2d3440;
  border: 2px solid rgba(252, 252, 252, 0.5);
  background-clip: padding-box;
  opacity: 50%;
}

/* end slider */

/* button */

.button-state:hover {
  border: 4px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.4);
}

.button-state:focus-visible {
  border: 2px solid #2d3440;
  background-color: rgba(252, 252, 252, 0.5);
}

.button-state:active {
  border: 4px solid transparent;
  background-color: #fcfcfc;
  background-clip: border-box;
  outline: 2px solid #2d3440;
}

.button-state:disabled {
  border: 4px solid rgba(252, 252, 252, 0.4);
  background-color: #e7e7e7;
}


.button-pink {
  background-color: #ff2f64;
  background-clip: inherit;
  color: #fcfcfc;
}

.button-pink:hover {
  border: 4px solid transparent;
  background-color: rgba(252, 252, 252, 0.3);
  color: #2D3440;
  outline: 4px solid #ff2f64;
}

.button-pink:focus {
  border: 4px solid transparent;
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
}

.button-pink:active {
  border: 4px solid transparent;
  background-color: #feafc3;
  outline: 2px solid #2d3440;
}

.button-pink:disabled {
  border: 2px solid rgba(185, 185, 185, 0.3);
  background-color: #b9b9b9;
  color: #2d3440;
}


/* start banner */
.banner {
  margin-bottom: 82px;
}

.banner-header {
  width: 434px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  padding-bottom: 53px;
  margin: auto;
  text-align: center;
}

.banner-container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px;
  padding-right: 0;
}

.banner-list {
  display: flex;
  justify-content: space-between;
}

.banner-item {
  display: flex;
  background-color: #ff7799;
  border-radius: 16px;
}

.banner-title {
  display: block;
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.banner-image {
  display: block;
  align-self: flex-end;
  padding-left: 11px;
}

.banner-text {
  display: block;
  width: 304px;
  margin: 0;
  line-height: 22px;
  margin-top: -20px;
}

.banner-button {
  background-color: #fcfcfcfc;
  width: 112px;
  left: -4px;
  top: 3px;
  position: relative;
}

/* end banner */

/* start assortment */
.assortment-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.assortment-header {
  display: block;
  width: 527px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: auto;
  text-align: center;
  margin-bottom: 106px;
}

.assortment-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
}

.assortment-item {
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.assortment-content {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.assortment-image {
  display: block;
  margin-bottom: 16px;
  border-radius: 50%;
  margin-top: -51px;
  margin-left: 51px;
}

.assortment-name {
  margin: 0;
  margin-bottom: 8px;
}


.assorment-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #2d3440;
}

.assortment-text {
  display: block;
  line-height: 22px;
  color: #565c66;
  margin: 0;
  margin-bottom: 20px;
}

.assortment-wrraper {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}

.assortment-price {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.assortment-button {
  padding: 7px;
  background-color: #ff2f64;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  top: -5px;
}

.assortment-button:hover {
  outline: 2px solid #FF2F64;
  background-color: rgba(252, 252, 252, 0.3);
}

.assortment-button:hover .assortment-icon {
  fill: #000000;
}

.assortment-button:focus {
  outline: 2px solid #2D3440;
  background-color: #ff2f64;
}

.assortment-button:active {
  outline: 2px solid #FF2F64;
  background-color: #ffcbd8;
}

.assortment-button:disabled {
  background-color: #b9b9b9;
}

/*
.assortment-icon:hover,
.assortment-icon:active,
.assortment-icon:disabled {
  fill: #000000;
}*/

.assortment-icon {
  fill: #fcfcfc;
}

/* end assortment */

.advantages {
  background-image: url("../images/wafer.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 24px;
  background-size: cover;
  margin-bottom: 78px;
}

.advantages-container {
  background-color: #ffffff;
  border-radius: 16px;
}

.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: auto;
  padding-top: 57px;
  text-align: center;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 40px;
  padding-bottom: 49px;
}

.advantages-item {
  width: 505px;
  line-height: 22px;
}

.advantages-text {
  position: relative;
  margin-left: 64px;
  color: #565c66;
}

.advantages-text::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 100%;
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  right: 457px;
  top: -1px;
}

.advantages-image-ingredients {
  top: 8px;
}

.advantages-image-delivery {
  top: 8px;
}

.advantages-image-production::before {
  background-image: url("../images/ice-production.svg");
}

.advantages-image-farm::before {
  background-image: url("../images/ice-farm.svg");
}

.advantages-image-ingredients::before {
  background-image: url("../images/ice-ingredients.svg");
}

.advantages-image-delivery::before {
  background-image: url("../images/ice-delivery.svg");
}

/* end advantags */

/* last-news */
.last-news {
  background-image: url("../images/serving.jpg");
  background-size: 655px;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-left: 32px;
  margin-right: 31px;
  width: 570px;
  background-position-x: -10px;
  background-position-y: -106px;
  background-color: #fcfcfc;
}

.blog-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.last-news-note {
  line-height: 20px;
  padding-top: 32px;
  color: #565c66;
  margin: 0;
  margin-bottom: 14px;
}

.last-news-title {
  display: block;
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

/* end last-news */

/*  start subscription */


.subscription {
  background-image: url("../images/mail.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  background-size: 580px;
  width: 570px;
  background-position: 30%
}

.subscription-menu {
  background-color: #ffffff;
  background-size: cover;
  border-radius: 16px;
  margin: 6px;
}

.subscription-text {
  width: 506px;
  padding: 26px;
  line-height: 22px;
  margin: 0;
  padding-bottom: 40px;
  color: #565c66;
}

.email-field {
  font-family: "Inter", sans-serif;
  width: 311px;
  height: 43px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 29px 26px;
}

.subscription-button {
  margin-left: 12px;
  margin-top: 3px;
}

.email-field::placeholder {
  color: #b9b9b9;
}


/*  end subscription */

/* start contacts */

.contacts {
  display: flex;
  background-image: url("../images/home-delivery.jpg");
  background-repeat: no-repeat;
  background-size: 1225px;
  background-position-y: -140px;
  border-radius: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.contacts-wrapper {
  margin-left: 100px;
  margin-top: 168px;
}

.contacts-title {
  display: block;
  margin: 0;
  width: 356px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 23px;
}

.contacts-subtitle {
  display: block;
  width: 371px;
  line-height: 22px;
  padding-bottom: 145px;
  margin-right: 135px;
  color: #565c66;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 500px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.contacts-address {
  display: block;
  width: 380px;
  margin: 0;
  padding: 40px 40px;
  padding-bottom: 32px;
  line-height: 22px;
  color: #565c66;
}

.appointment-form {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 40px;
}

.appointment-info {
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding-left: 16px;
}

.appointment-info::placeholder {
  color: #b9b9b9;

}

.appointment-form .info {
  display: none;
}

.appointment-form-date {
  position: relative;
}

.appointment-form-date::after {
  content: "";
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 44px;
  top: 3px;
}

.form-label {
  margin-bottom: 8px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}


.field-group input {
  display: flex;
  align-items: center;
  line-height: 20px;
  font-size: 16px;
  padding: 12px 14px;
  font-family: "Inter", sans-serif;
}

.appointment-form-address {
  position: relative;
  grid-column: 1/-1;
  margin-top: 21px;
}

.appointment-button {
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 30px;
}

.appointment-form-address::after {
  content: "";
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 56px;
  top: 2px;
}

/* end contacts */

/* start information-shop */


.information-shop {
  background-image: url("../images/address-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;
  background-position-y: -81px;
}

.information-wrapper {
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 302px;
  padding-left: 40px;
}

.information-title {
  color: #565c66;
  display: block;
  width: 179px;
  line-height: 22px;
  margin: 0;
  padding-top: 43px;
}


.information-adress-text {
  width: 263px;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  margin: 0;
  margin-top: 12px
}

.information-phone {
  color: #565c66;
  width: 203px;
  line-height: 22px;
  font-style: normal;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 12px;
}

.information-number {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #2d3440;
  font-style: normal;
}

.information-time {
  color: #565c66;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  margin-bottom: 29px;
  margin-top: -2px;
}

.information-button {
  margin-bottom: 35px;
  margin-left: -3px;
}

/* end information-shop */

/* start footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 48px 0;
}

.page-footer-catalog{
  border-top: 1px solid rgba(252, 252, 252, 0.3);
  padding-top: 46px;
  margin: 36px 0;
  content: "";
}

.footer-social-list {
  display: flex;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-bottom: 17px;
  margin-top: 2px;
}

.footer-social-link:not(:last-child) {
  margin-right: 12px;
}

.footer-nav-item {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  width: 50%;
  font-weight: 400;
}

.footer-nav-link {
  text-decoration: none;
  color: #2d3440;
}

.footer-nav-link:hover,
.htmlacademy-link:hover {
  opacity: 30%;
  text-decoration: underline;
}


.footer-nav-link_heart {
  font-weight: 700;
}

.footer-nav-item-heart::before {
  position: absolute;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  left: -24px;
  top: 2px;
  content: "";
}

.copyright-link {
width: 93px;
display: block;
margin-left: 8px;
margin-top: 2px;
}

.developer:hover {
  opacity: 30%;
}

.footer-copyright {
  width: 200px;
}

.footer-copyright-text {
  width: 197px;
  font-size: 12px;
  line-height: 16px;
  margin-left: 8px;
  margin-top: 8px;
}

.htmlacademy-link {
  color: #2d3440;
  text-decoration: none;
}


/*********** start catalog.html ************/

/* start breadcrums */

.breadcrums-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 17px;
  margin-top: 33px;
}

.breadcrums-item:hover,
.breadcrums-current {
  text-decoration: underline;
  color: #2d3440;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}


.breadcrums-item {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-right: 29px;
}

.breadcrums-item::after {
  background-image: url("../images/two-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 10px;
  height: 7px;
  right: -20px;
  top: 7px;
  content: "";
}

.breadcrums-item:last-child::after {
  content: none;
}

.breadcrums-link {
  text-decoration: none;
  color: #2d3440;
}

.catalog-products {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 95px;
}

.catalog-page-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-bottom: 39px;
}

.catalog-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

/* end breadcrums */

/* Форма каталога */

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.customize-form {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  border: none;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px 16px;
  border-radius: 20px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  width: 196px;
  appearance: none;
}


.customize-form-title {
  margin-bottom: 8px;
  margin-left: 14px;
}

.sort {
  position: relative;
  display: flex;
  align-items: center;
  width: 196px;
  margin-right: 24px;
  margin-bottom: 16px;
}


.catalog-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 95px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 9px;
  margin-left: 15px;
}

.catalog-range {
  margin: 0;
  padding: 0;
  margin-right: 23px;
  width: 196px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
  width: 164px;
}

.range-container {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 16px 16px;
  border-radius: 20px;
}

.range-ice {
  position: absolute;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #2d3440;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}


.range-toggle::after {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fcfcfc;
  border-radius: 50%;
  cursor: pointer;
  top: 6px;
  left: 6px;
  content: "";
}

.toggle-min {
  top: -8px;
  left: -6px;
}

.toggle-max {
  top: -8px;
  right: -14px;
}

.range-toggle:hover {
  background-color: #fcfcfc;
}

.range-toggle:hover::after {
  background-color: #2d3440;
}

.range-toggle:focus-visible {
  background-color: #fcfcfc;
  border: 2px solid transparent;
  outline: 2px solid #2d3440;
}

.range-toggle:focus-visible::after {
  background-color: #2d3440;
  top: 4px;
  left: 4px;
}

.range-toggle:active {
  background-color: #2d3440;
}


.range-input {
  font-family: "Inter", sans-serif;
  width: 25px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.fatness {
  margin: 0;
  padding: 0;
}

.fatness-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px 24px;
  border-radius: 18px;
  width: 337px;
}

.fatness-title {
  margin-bottom: 8px;
  margin-left: 15px;
}

.fatness-value {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  border: 1px solid #000000;
  width: 14px;
  height: 14px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-input:hover + .control-mark {
  filter: invert(100%);
}


.filler {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 604px;
}

.filler-title {
  margin-left: 15px;
  margin-bottom: 8px;
}

.filler-label {
  position: relative;
  display: block;
  padding-left: 24px;
}


.filler-container {
  display: flex;
  background-color: rgba(252, 252, 252, 0.3);
  align-content: center;
  flex-wrap: wrap;
  padding: 10px 24px;
  border-radius: 18px;
  justify-content: space-between;
  width: 556px;
}

.fatness-label {
  position: relative;
  padding-left: 25px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
}

.control-input[type="checkbox"] + .control-mark::before {
  position: absolute;
  background-image: url(../images/cube.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  background-image: url(../images/square.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: "";
}

.catalog-button {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
  padding: 8px 54px;
  margin-top: 28px;
  margin-left: 17px;
  color: #2d3440;
}

.catalog-button:hover {
  background-color: #fcfcfc;
  border: 2px solid rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
}

.catalog-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.catalog-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.catalog-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  opacity: 40%;
}

.pagination-container {
  display: flex;
  padding: 40px 0;
  margin-top: 13px;
  align-items: center;
}

.pagination-show-more {
  display: block;
  margin: auto;
  background-color: #fcfcfc;
  font-weight: 700;
  margin-right: 331px;
}

/* start pagination */

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 168px;
  align-items: center;
}

.pagination-current {
  display: block;
  background-color: #fcfcfc;
  border-radius: 50px;
  box-sizing: border-box;
}

.pagination-link {
  position: relative;
  text-decoration: none;
  border-radius: 50%;
  color: #2d3440;
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
}

.pagination-prev::before {
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
  position: absolute;
  opacity: 30%;
  right: 11px;
  top: 8px;
  transform: rotate(90deg);
  content: "";
}

.pagination-next::after {
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
  position: absolute;
  right: -3px;
  top: 5px;
  transform: rotate(-90deg);
  content: "";
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #2d3440;
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #fcfcfc;
}

/* end pagination */


/* modal-container */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 12px rgba(45, 52, 64, 0.12);
}


.modal-close-button {
  position: absolute;
  border: none;
  padding: 0;
  top: 32px;
  right: 38px;
  width: 20px;
  height: 20px;
  background: none;
  cursor: pointer;
}


.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  width: 16px;
  height: 1px;
  background-color: #000000;
  right: 1px;
  content: "";
}


.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
}

.modal-field::placeholder {
  color: #b9b9b9;
}

.auth-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}

.auth-form .modal-field {
  width: 442px;
  box-sizing: border-box;
}

.modal-container-close {
  display: none;
}
