@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2d3440;
  background-color: #feafc3;
}

.basic-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1170px;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0.1px;
  white-space: nowrap;
  color: transparent;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.button {
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* start header */

.header-logo {
  width: 140px;
  margin-right: 32px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 422px;
}

.navigation-user {
  max-width: 431px;
  margin-left: auto;
}

.navigation {
  display: flex;
}

.navigation-item {
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  vertical-align: top;
}

..navigation-user .navigation-link {
  min-height: 32px;
}

.sub-menu  {
  display: none;
}
.subnav-link {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  vertical-align: top;
}

.subnav-link-bold {
  font-weight: 700;
}

.navigation-link-bold {
  font-size: 16px;
  font-weight: 700;
}

.navigation-user {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

/* end header */

/******* start main ********/


/* start slider */

.slide-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.slide-item {
  display: flex;
}

.slide-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
}

.slide-text {
  display: block;
  margin: 0;
  font-size: 18px;
}

.slide-social-button {
  text-decoration: none;
  color: #fcfcfc;
}

/* end slider */

/* start banner */
.banner {
  display: block;
  margin-bottom: 81px;
}

.banner-header {
  width: 434px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 55px;
}

.banner-list {
  display: flex;
  justify-content: space-between;
  background-color: #ff7799;
  border-radius: 16px;
}

.banner-item {
  display: flex;
  flex-direction: column;
  width: 570px;
}

.banner-title {
  display: block;
  margin-left: 36px;
  margin-top: 36px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.banner-image {
  align-self: flex-end;
}

.banner-text {
  display: block;
  width: 304px;
  margin: 0;
  margin-bottom: 28px;
  margin-left: 36px;
  line-height: 22px;
}

/* end banner */

/* start assortment */
.assortment-main {
  margin-bottom: 80px;
}

.assortment-header {
  display: block;
  width: 527px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 56px;
}

.assortment-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.assortment-item {
  display: block;
  text-align: center;
  background-color: #fcfcfc;
  width: 270px;
  border-radius: 8px;
  margin-bottom: 91px;
}

.assortment-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.assortment-image {
  display: block;
  margin-left: 51px;
  margin-bottom: 16px;
  border-radius: 50%;
}

.assorment-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #2d3440;
  width: 190px;
  margin-left: 40px;
  margin-bottom: 8px;
}

.assortment-text {
  display: block;
  margin-left: 40px;
  line-height: 22px;
  color: #565c66;
}

.assortment-price {
  font-weight: 700;
  font-size: 20px;
}

.assortment-button {
  text-decoration: none;
  color: #000000;
}

/* end assortment */

.advantages {
  background-image: url("../images/wafer.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 24px;
  background-size: cover;
  margin-bottom: 80px;
}

.advantages-conteiner {
  background-color: #ffffff;
  width: 1122px;
}

.advantages-title {
  width: 995px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  width: 442px;
  line-height: 22px;
  padding: 0 40px;
}

/* end advantags */

/* last-news */
.last-news {
  background-image: url("../images/serving.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-left: 32px;
  margin-right: 36px;
  width: 570px;
}

.blog-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.last-news-note {
  line-height: 20px;
}

.last-news-title {
  display: block;
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

/* end last-news */

/*  start subscription */


.subscription {
  background-image: url("../images/mail.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.subscription-menu {
  width: 558px;
  background-color: #ffffff;
  background-size: cover;
  border-radius: 16px;
  margin: 6px;
}

.subscription-text {
  display: block;
  width: 506px;
  padding: 26px;
  line-height: 22px;
  margin: 0;
  padding-bottom: 120px;
}

/*  end subscription */

/* start contacts */

.contacts {
  display: flex;
  background-image: url("../images/home-delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.contacts-title {
  display: block;
  margin: 0 100px;
  margin-top: 167px;
  width: 356px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.contacts-subtitle {
  display: block;
  width: 371px;
  margin: 0 100px;
  padding-top: 24px;
  line-height: 22px;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 500px;
  margin: 64px;
}

.contacts-address {
  display: block;
  width: 380px;
  padding: 40px 40px;
  line-height: 22px;
}

.appointment-form {
  font-weight: 700;
  line-height: 20px;
}

/* end contacts */

/* start information-shop */


.information-shop {
  background-image: url("../images/address-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.information-wrapper {
  background-color: #fcfcfc;
  width: 343px;
  margin: 64px;
}

.information-title {
  display: block;
  width: 179px;
  padding: 0 40px;
  line-height: 22px;
  margin: 0;
}

.information-address {
  display: block;
  margin: 0;
  padding: 0 40px;
}

.information-adress-text {
  width: 263px;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  margin: 0;
  margin-top: 12px
}

.information-phone {
  width: 203px;
  line-height: 22px;
  font-style: normal;
  margin: 0;
  margin-top: 24px;
}

.information-number {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #2d3440;
  font-style: normal;
  margin-top: 12px;
}

.information-time {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

/* end information-shop */

/* start footer */

.page-footer {
  display: flex;
  margin: 0 auto;
}

.footer-social-list {
  width: 80px;
  margin-right: 260px;
}

.footer-nav-list {
  width: 356px;
  margin-right: 260px;
}

.social-button {
  text-decoration: none;
  color: #fcfcfc;
}

.footer-nav-item {
  font-size: 14px;
  line-height: 20px;
}

.footer-nav-link {
  text-decoration: none;
  color: #2d3440;
}

.footer-nav-link_heart {
  font-weight: 700;
}

.footer-copyright {
  width: 200px;
  margin: 48px;
}

.footer-copyright-text {
  width: 197px;
  font-size: 12px;
  line-height: 16px;
}

/*********** start catalog.html ************/

/* start breadcrums */

.breadcrums-list {
  display: flex;
  flex-direction: row;
  margin-left: 98px;
  margin-bottom: 16px;
}

.breadcrums-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-right: 28px;
}

.breadcrums-link {
  text-decoration: none;
  color: #2d3440;
}

.catalog-products {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 95px;
}

.catalog-page-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-left: 98px;
}

.catalog-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

/* end breadcrums */

/* */

.pagination-show-more {
  font-weight: 700;
}

/* start pagination */

.pagination-item {
  line-height: 20px;
}

.pagination-link {
  text-decoration: none;
  color: #2d3440;
}

/* end pagination */
